<aside>
    <div>
        <h3>Menu</h3>
    </div>
    <div>
        <ul>
            <li>
                <a href="{% url "home:home" %}">Home</a>
            </li>
            <li>
                <a href="#">Atendimentos</a>
            </li>
            <li>
                <a href="#">Instrutores</a>
            </li>
            <li>
                <a href="{% url "customer:list" %}">Clientes</a>
            </li>
            <li>
                <a href="#">Relatórios</a>
            </li>
        </ul>
    </div>
</aside>
